/* Contact page input box container styling */

.page-header li {
	padding-bottom: 20px;

}

.container-fluid .navbar-brand {
	font-size: 32px;
	font-family: "Passion One";
}




body {
	clear: both;
	background-image: url("assets/background.png");
	font-size: 24px;
	line-height: 24px;
	font-family: 'Mukta Vaani', sans-serif;
	color: #777;
}

.social {
	float: left;
	max-width: 33%;
}

/*/* footer */

/*footer {

	background: #666;
	color: #fff;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;

	text-align: center;
}*/


#footer {
	background: #666;
	color: #fff;
}

.caption {
	float: right;
}



